
  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a class="is-active">Dashboard</a></li>
      <li><a>Reports</a></li>
    </ul>
    <p class="menu-label">
      Sales
    </p>
    <ul class="menu-list">
      <li>
        <a>Products</a>
        <ul>
          <li><a>Add a product</a></li>
        </ul>
      </li>
      <li><a>Orders</a></li>
      <li>
        <a>Customers</a>
        <ul>
          <li><a>Add a customer</a></li>
          <li><a>Bulk Actions</a></li>
          <li><a>Export CSV</a></li>
        </ul>
      </li>
      <li><a>Payments</a></li>
      <li><a>Transfers</a></li>
      <li><a>Pending</a></li>
    </ul>
  </aside>

